.title {
    color: #000;
    font-family: "Roboto Serif";
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
}

.subtitle {
    color: #000;
    font-family: "Roboto Serif";
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
}

ul {
    li {
        font-size: 25px;
    }
}

#questionText {
    font-size: 25px;
    margin-top: 40px;
    /* Измените на нужный размер */
}